@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap');

@import "tailwindcss";

@theme {
  /* ============================================
     CUSTOMIZE FONT STYLES HERE
     ============================================ */
  
  /* Custom Font Families */
  --font-inter: 'Inter', sans-serif;
  --font-itim: 'Itim', cursive;
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* ============================================
     CUSTOMIZE COLORS HERE
     ============================================ */
  
  /* Custom Colors */
  --color-background: #26262A;
  --color-text: #fff;
  --color-primary: #1E1E1E;
  --color-secondary: #808080;
  --color-accent: #65F7DA;
  
  /* ============================================
     CUSTOMIZE BREAKPOINTS (Responsive Design)
     ============================================ */
  
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.nav-link {
  @apply text-text font-normal duration-300 ease-in hover:text-accent;
}

.btn 
{
  @apply w-30 cursor-pointer block bg-accent border-2 py-1 font-itim rounded-sm border-transparent hover:bg-transparent hover:border-text hover:text-text duration-150 ease-linear;
}

.filter-btn 
{
  @apply bg-secondary text-text px-2 py-1 rounded-sm font-itim duration-300 ease-linear cursor-pointer hover:bg-accent hover:text-background;
}

.active-btn 
{
  @apply bg-accent text-background;
}

.active 
{
  @apply text-accent;
}

tbody tr:nth-child(2n)
{
  @apply bg-[#3D3D43]
}